body {
  text-align: center;
  background-image: linear-gradient(#3c9ecb,rgb(178, 109, 109));
  background-color:green;

}
.App-header {  
  min-width:100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(36px + 2vmin);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border:outline;
}
p {
  font-size: calc(10px + 2vmin);
  margin-top: 10px;
  margin-bottom: 10px;
}
a {
  color:white;
}
.title {
  font-family: Impact, sans-serif;
  font-size: calc(36px + 2vmin);
}
.subtitle {
  font-size: calc(18px + 2vmin);
}
.services {
  font-size: calc(9px + 1vmin);
  padding-right: 12vmin;
  padding-left: 12vmin;
}
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}
.review {
  border-radius: 25px;
  font-size: calc(9px + 1vmin);
  padding-right: 12vmin;
  padding-left: 12vmin;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  border: solid white;
  max-width: 60%;
  margin: auto;
}
.App-logo {
  display: block;
  max-width: 100%;
  margin: auto;
}
.footer {
  color: lightblue;
  font-size: calc(8px + .1vmin);
  padding: 10px;
}
