.App {
  text-align: center;
}


.App-header {
  /* background-color: white; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(36px + 2vmin);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-image: linear-gradient(#00b4ff,white);
}



git config --global user.email "you@example.com"
git config --global user.name "Your Name"

p {
  font-size: calc(10px + 2vmin);
  margin: 10px;
  padding-right: 120px;
  padding-left: 120px;
}
.title {
  font-family: Impact, sans-serif;
  font-size: calc(36px + 2vmin);
}
.subtitle {
  font-size: calc(18px + 2vmin);
}
.services {
  font-size: calc(12px + 2vmin);
}
.footer {
  color: lightblue;
  font-size: calc(10px + 1vmin);
}
.App-link {
  color: #61dafb;
}
